<ng4-loading-spinner> </ng4-loading-spinner>

<div>
	<div *ngFor="let post of posts;" class="card-block">
		<mat-card>
		  <mat-card-header>
		  	<div mat-card-avatar class="header-image"></div>
		    <mat-card-title>
		      <div class="mat-title">
		         {{post.title}} | {{post.postPublished}}
		      </div>
		    </mat-card-title>
		  </mat-card-header>
		  <mat-card-content>
	      <div class="mat-body-1" [innerHTML]="post.content"></div>
		  </mat-card-content>
		  <mat-card-actions>
		    <a [href]="post.url"><button class="link-button" mat-button>Original Blogspot Post</button></a>
		  </mat-card-actions>
		</mat-card>		
	</div>	
</div>
