<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Andrew Lloyd</span>
    <span class="fill-remaining-space"></span>
		
		<div fxShow="true" fxHide.lt-sm="true">
      <a href="#/" mat-button>Home</a>
      <mat-menu #connectMenu="matMenu">
        <a mat-menu-item href="https://www.linkedin.com/in/andrewmarklloyd/"><img width="23px" src="assets/linkedin.png"> LinkedIn</a>
        <a mat-menu-item href="https://github.com/andrewmarklloyd/"><img width="23px" src="assets/github.png"> Github</a>
        <a mat-menu-item href="mailto:andrew85.lloyd@gmail.com"><mat-icon>mail_outline</mat-icon> <span>Email</span></a>    
      </mat-menu>
        <a mat-button [matMenuTriggerFor]="connectMenu" href="#">Connect</a>
		  <a href="#/projects" mat-button>Projects</a>
		  <a href="#/live-updates" mat-button>Live Updates</a>
		</div>    
		<div fxShow="true" fxHide.gt-xs="true">
			<mat-menu #rootMenu="matMenu">
        <a href="#/"><button mat-menu-item>Home</button></a>
			  <button mat-menu-item [matMenuTriggerFor]="subMenu">Connect</button>
			  <a href="#/projects"><button mat-menu-item>Projects</button></a>
			  <a href="#/live-updates"><button mat-menu-item>Live Updates</button></a>
			</mat-menu>

			<mat-menu #subMenu="matMenu">
        <a mat-menu-item href="https://www.linkedin.com/in/andrewmarklloyd/"><img width="23px" src="assets/linkedin.png"> LinkedIn</a>
			  <a mat-menu-item href="https://github.com/andrewmarklloyd/"><img width="23px" src="assets/github.png"> Github</a>
			  <a mat-menu-item href="mailto:andrew85.lloyd@gmail.com"><mat-icon>mail_outline</mat-icon> Email</a>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="rootMenu">
			  <mat-icon>menu</mat-icon>
			</button>
		</div>
  </mat-toolbar-row>
</mat-toolbar>
<br>


<router-outlet></router-outlet>
