<div fxShow="true" fxHide.lt-sm="true">
  
</div>

<div fxShow="true" fxHide.gt-xs="true">
  <div class="container" fxLayout fxLayoutAlign="left"
      >
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="mat-title">Software Engineer</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/andrew.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Andrew wasn't always a software engineer, but now he is.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>MORE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>