@import '../../../theme.scss';

a, u {
	text-decoration: none;
}

img {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.card-content {
	padding-top: 30px;
}

.center-text {
	text-align: center;
}

.underline-text {
	text-decoration: underline;
}

.desktop-card {
	width: 40%;
}

.blog-button {
	background: mat-color($app-fifth);
	color: $app-white;
}
