a, u {
	text-decoration: none;
}

img {
	width: 100%;
}

.card-content {
	padding-top: 30px;
}

.color-text {
	color: #1A237E;
}

.center-text {
	text-align: center;
}

.underline-text {
	text-decoration: underline;
}

.desktop-card {
	width: 40%;
}

.indigo1 {
	background: #E8EAF6;
	color: #1A237E;
}

.indigo2 {
	background: #C5CAE9;
	color: #283593;
}

.indigo3 {
	background: #9FA8DA;
	color: #FAFAFA;
}

.indigo4 {
	background: #7986CB;
	color: #FAFAFA;
}

