<!--Mobile sizes-->
<div fxShow="true" fxHide.lt-sm="true">
  <div class="container"
               fxLayout
               fxLayoutAlign="center"
               fxLayout.xs="column">
    <mat-card>
      <div fxFlex="95%">
        <mat-card-header>
          <span class="mat-title color-text card-title-text">Software Engineer</span>
        </mat-card-header>
        <img mat-card-image src="assets/andrew.jpg" alt="Andrew Lloyd Esquire">  
      </div>
      
      <div fxFlex="80%" class="card-content">
        <mat-card-content>
          <div *ngFor="let block of introText;">
            <p class="color-text mat-body-2 card-block-text">
              {{block.text}}
            </p>
          </div>
        </mat-card-content>  
      </div>
    </mat-card>
  </div>
</div>

<!--Desktop sizes-->
<div fxShow="true" fxHide.gt-xs="true">
  <div class="container" fxLayout fxLayoutAlign="center">
    <div>
      <mat-card>
        <mat-card-header>
          <div class="mat-title color-text card-title-text">Software Engineer</div>
        </mat-card-header>
        <img src="assets/andrew.jpg" alt="Andrew Lloyd Esquire">
        <mat-card-content class="card-block-text">
          <div *ngFor="let block of introText;">
            <p>
              {{block.text}}
            </p>
          </div>
          <p>Check out the <a href="#/projects" class="underline-text">projects</a> page for more.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>