<div class="container" fxLayout fxLayoutAlign="center"
      >
  <div fxFlex.gt-sm="85%" fxFlex.gt-xs="95%">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile class="mat-title"
          (click)="test('workProjects')"
          colspan="3"
          rowspan="1"
          ngClass="indigo1 bevelBox"
          >
          WORK PROJECTS
      </mat-grid-tile>
      <mat-grid-tile class="mat-title"
          (click)="test('openSource')"
          colspan="1"
          rowspan="2"
          ngClass="indigo4 bevelBox"
          >
          OPEN SOURCE
      </mat-grid-tile>
      <mat-grid-tile class="mat-title"
          (click)="test('other')"
          colspan="1"
          rowspan="1"
          ngClass="indigo4 bevelBox"
          >
          OTHER
      </mat-grid-tile>
      <mat-grid-tile class="mat-title"
          (click)="test('sideProjects')"
          colspan="2"
          rowspan="1"
          ngClass="indigo2 bevelBox"
          >
          SIDE PROJECTS
      </mat-grid-tile>
    </mat-grid-list>
    <br>
    <div *ngIf="activeProjectType">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="mat-title">
              {{activeProjectType.projectTypeDisplayName}}    
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let project of activeProjectType.projectsData">
            <div class="mat-subheading-2">
              {{project.displayName}}
            </div>
            <div class="mat-body-1">
              {{project.description}}    
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a *ngIf="activeTile" [href]="activeTile"><button mat-button>LINK</button></a>
          <a><button (click)="toggleMore()" mat-button>{{toggleText}}</button></a>
        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card *ngIf="showMore">
        
      </mat-card>
    </div>
  </div>
</div>
