a, u {
	text-decoration: none;
}

.center-text {
	text-align: center;
}

.card-block {
	padding-bottom: 10px;
}

.indigo1 {
	background: #E8EAF6;
	color: #1A237E;
}

.indigo2 {
	background: #C5CAE9;
	color: #283593;
}

.indigo3 {
	background: #9FA8DA;
	color: #FAFAFA;
}

.indigo4 {
	background: #7986CB;
	color: #FAFAFA;
}

